
/* header style */ 
#header 
{
	margin: 0px 0px 0px 0px;
	background-color: #f3f3f3;
	padding-bottom: 2%;
	padding-top: 2%;
	clear: both;
    overflow: hidden;
	height: 180px;
	width: 100%;
	padding-left: 3%;
}
td {
padding: 0px 2px 1px 0px;
border-left: 1px solid red;
}
td.newData{
padding: 0px 2px 1px 0px;
border: none;
}

#navigation {
	margin: 0 auto;
	width: auto;
	background-color: transparent;
	border-style: none;
	height:15px;
	color: black;
    clear: both;	
}
#naviVPBlast, .naviVPB:link{
    background-color: transparent;
	margin:0px 0px 0px 0px;
    padding: 0px 13px 0px 13px;
    border: none;
}

a#naviVPBlast, a.naviVPB:visited {
    background-color: transparent;
	margin:0px 0px 0px 0px;
    
}

a#naviVPBlast, a.naviVPB:hover {
	background-color: transparent;
	margin:0px 0px 0px 0px;
 
}

a#naviVPBlast, a.naviVPB:active {
   background-color: transparent;
	margin:0px 0px 0px 0px;
   
}

#naviVPBlast{
border-right: 1px solid black; 
padding-right: 20px
} 
 .search-button {
	border: none;
    background-repeat: no-repeat;
	z-index: 3;
	height: 26px;
	width: 26px;
	vertical-align: middle;
}
#searchTextField{
	height: 22px;
	}
#search{
  background-image: url("Images/search.png;");	
}

#headerLT
{
	color : Black; 
	text-align: left;
	font-family: times new roman;
	font-size:18px;
}
#headerEN{
	color : Navy; 
	font-family: times new roman;
	font-size:14px;
}


.language:link{
    background-color: transparent;
	color: grey;
	text-decoration :none;
	text-transform: uppercase;
}

a.language:visited {
    background-color: transparent;
	color: grey;
	text-decoration :none;
	text-transform: uppercase;
}

a.language:hover {
	position: relative;
    background-color: transparent;
	color: #000002;
	text-decoration :none;
	text-transform: uppercase;
}

a.language:active {
    background-color: transparent;
	color: black;
	text-decoration :none;
	text-transform: uppercase;
}  
	
}
 .headerButtons, #headerButtonsFirst { 
	color:black; 
	font-size: 17px;
	text-transform: uppercase; 
	padding-left:0.45%;
	padding-right:0.45%; 
	border-right: 1px solid #000000;
	position :relative;
	text-decoration: none;
}
.headerButtons:hover, #headerButtonsFirst:hover{
	color: #8e8d8d;
	
}
#headerButtonsFirst{
	padding-left:40px;
	padding-right:40px; 
	border-left: 1px solid #000000;
}
.buttons{
text-decoration: overline underline; 
	width: 300px;
	height: 60px;
	opacity: 1.0;  
	font-family: times new roman;
    /*filter: alpha(opacity=80);   */
    color: white;
    text-align: center;
    font-size: 18px;
	padding-top: 15px;
    text-transform: uppercase;
	position:relative;
	margin: 10px auto 10px auto;
	float:left;
}
.buttons:hover{
	color: #ffff00;
	opacity: 0.8;
}

/* Page blocks style */ 
.menuButton
{
	text-decoration: overline underline; 
	width: 200px;
	height: 165px;
	opacity: 1.0;  
	font-family: times new roman;
    /*filter: alpha(opacity=80);   */
    color: white;
    text-align: center;
    font-size: 18px;
	padding-top: 75px;
    text-transform: uppercase;
	position:relative;
	margin: 3px;
	float:left;
   	
}
.menuButton:active {
	opacity: 1.0;
	}
.menuButton:hover {
	color: #ffff00;
	opacity: 0.8;
}
.menuButton:visited{
	opacity: 1.0;
	color: #ffffff;
	}
.shadowBox{
	width: 200px;
	height: 165px;
	position:relative;
	background-color: #ffffff;
	float:left;
	padding-top:8%; 
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.65);
	margin: 3px;
}
.shadowBoxTop{
	width: 200px;
	height: 165px;
	position:relative;
	background-color: #ffffff;
	float:left;
	padding-top:8%;  
    box-shadow: -2px -2px 2px 0px rgba(0,0,0,0.65);
	margin: 3px;
}
.emptyBox, #textMessage {
	width: 200px;
	height: 165px;
	position:relative;
	float:left;	
    background-color: #ffffff;	
	margin: 3px;
}
#textMessage{ 
   width: 200px;
	height: 165px;
   border: 1px solid #000000;
   vertical-align: top;  
   text-align: justify;	
   color: #704a00;
   overflow: hidden;
   font-size: 14px;
   padding-top:0%;   
}


}


/*#news{
	background-color: #ec8f2b; 
    background: linear-gradient(#ffae11,#bd7f07);	

#inventions {
	background: linear-gradient(#27b15e, #2f6846);
}
#design{
	background: linear-gradient(#f3df1e, #bf8b00);
}
#topography{ 
	background: linear-gradient(#47c8db, #138d9f);
	}
#trademarks{
	background: linear-gradient(#b81144, #7b0529);
	} 
#information { 
	text-decoration:none;
	background: linear-gradient(#ace00e, #89a23e);
	padding-top: 65px;
}
#information  .firstWord{ text-decoration:overline;}	
#information  .secondWord{ text-decoration:underline;}

#eServices{
	background: linear-gradient(#06dedb, #3b9695);
	}
 #Official{
	background: linear-gradient(#7c9bff, #3053c4);
	text-decoration:none;
	padding-top: 65px;
	}
#Official .firstWord{ text-decoration:overline;}	
#Official .secondWord{text-decoration:underline;}
*/
/* footer blocks style */ 
#VPB_footerText {
	background-color: #f3f3f3;
	text-align: center; 
    overflow: hidden;
	font-size:16px;
	min-width: 1340px;
	max-width:1430px;
	padding-bottom:2%;
	padding-top:2%;
	width: 100%;
	clear: both;
	padding-left: 3%;
}